{% load avatartags %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Co-Trip">
    <meta name="description" content="Travel">
    <meta name="keywords" content="Travel, Co-Trip, Coopertaion, Online">
    

    <title>{% block title %}Co-Trip{% endblock %}</title>



    <!--[if ls IE 10]>
      <h1>Are you kidding? You are still using IE?</h1>
    <![endif]-->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}external/Bootstrap3.1.1/css/bootstrap.css">
    
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/Co-Trip.css">
    {% block css_link %}
    <link rel="stylesheet" type="text/css" href="">
    {% endblock %}
  </head>

  <body>
    <!-- =====NAVBAR===== -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Co-Trip</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="{% block home_class %}}{% endblock %}"><a href="/">主页</a></li>
            <li class="{% block explorer_class %}}{% endblock %}"><a href="/plan/explore">探索</a></li>

          </ul>

          <form class="navbar-form navbar-left" role="search" action="/accounts/profile/search/" method="GET">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="" name="q">
            </div>
            <input type="submit" class="btn btn-default" value="搜索">
          </form>
           {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/notifications/" class="CT-navbar-notification-indicator" data-container="body" data-toggle="tooltip" data-placement="bottom" title="You have no unread notifications." data-original-title="Tooltip on bottom">
                <span class="mail-status glyphicon glyphicon-record" id="notification-circle"></span>
              </a>
            </li>
            <li class="dropdown">

              <a class="CT-user-profile dropdown-toggle" href="#" data-toggle="dropdown">
                <img src="{% get_avatar user 50%}" alt="{{ user.username }}" class="avatar">

                <span class="name">{{ user.username }}</span>
              </a>

              <ul class="dropdown-menu">
                <li>
                  <a href="/accounts/profile/">
                    <span class="glyphicon glyphicon-user"></span> 我的主页 {{ user.profile_image_url }}
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="/messages/">
                    <span class="glyphicon glyphicon-envelope"></span> 站内私信
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="/accounts/profile/edit">
                    <span class="glyphicon glyphicon-cog"></span> 账号设置
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="/accounts/logout">
                    <span class="glyphicon glyphicon-off"></span> 退出
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        {% endif %}
        </div>
      </div>
    </div>

    {% block header %}
    {% endblock %}

    <!-- =====MAIN CONTENT===== -->
    <main class="container">
      {% block main_content %}
      <h1>This is a base templates</h1>
      {% endblock %}

      {% block content %}
      {% endblock %}
      {% block sidebar %}
      {% endblock %}
      <!-- =====FOOTER===== -->
      <footer id="footer">
        <div class="container">
          <p class="text-center">All content copyright <a href="/">Co-Trip</a> © 2014 • All rights reserved.</p>
        </div>
      </footer>
    </main>

    <!-- jQuery core Javascript -->
    <script type="text/javascript" src="{{ STATIC_URL }}external/jQuery/jquery-1.10.2.js"></script>

    <!-- Bootstrap core Javascript -->
    <script type="text/javascript" src="{{ STATIC_URL }}external/Bootstrap3.1.1/js/bootstrap.js"></script>
    
    <!-- Custom Javascript -->
    {% block js %}
    <script type="text/javascript" src=""></script>
    {% endblock %}
    {% include 'autocomplete_light/static.html' %}
  </body>
</html>