@charset "UTF-8";
/**
 * 
 * @authors Tom Hu (h1994st@gmail.com)
 * @date    2014-02-14 14:27:59
 * @version 1.0
 */
body {
  padding-top: 70px;
}
.btn {
  min-width: 74px;
}
/* .btn-outline */
.btn-outline {
  background-color: transparent;
}
.btn-outline.btn-primary {
  color: #428bca;
}
.btn-outline.btn-success {
  color: #5cb85c;
}
.btn-outline.btn-info {
  color: #5bc0de;
}
.btn-outline.btn-warning {
  color: #f0ad4e;
}
.btn-outline.btn-danger {
  color: #d9534f;
}
.btn-outline:hover {
  color: #ffffff;
}

.avatar {
  border-radius: 4px;
}

/*
 * Co-Trip Navbar
 * --------------------------------------------------
 */
.CT-navbar-notification-indicator {
  float: right;
  width: 50px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.CT-navbar-notification-indicator .mail-status {
  border-radius: 100px;
}
.notification-all-read {
  
}
.CT-navbar-notification-indicator:hover .notification-unread {
  color: #3196E6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 18px rgba(49, 150, 230, 1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 18px rgba(49, 150, 230, 1);
}
.notification-unread {
  color: #66afe9;
  border-color: #66afe9;
  outline: 0;
  -webkit-transition: color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 14px rgba(102, 175, 233, 0.9);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 14px rgba(102, 175, 233, 0.9);
}
.navbar-nav a.CT-user-profile > .avatar {
  max-width: 28px;
  height: auto;
}
a.CT-user-profile > .name {
  padding-left: 15px;
}
a.CT-user-profile {
  color: #777777;
}
a.CT-user-profile:hover, 
a.CT-user-profile:focus {
  text-decoration: none;
  color: #555555;
}
.navbar-nav .CT-user-profile {
  max-height: 50px;
  width: 158px;
  padding-top: 11px;
  padding-bottom: 11px;
}

/*
 * Co-Trip Footer
 * --------------------------------------------------
 */
footer {
  height: 80px;
  min-height: 80px;
  border-width: 1px;
  border-top: 1px solid rgb(248, 248, 248);
  margin-top: 20px;
  /*background-color: #eeeeee;*/
  border-color: #e7e7e7;
  position: relative;
  left: 0;
  right: 0;
  z-index: 25;
}
footer > div > p {
  margin-top: 27px;
}