{% extends "base.html" %}

{% block css_link %}
    <!-- Bootstrap Calendar core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-calendar/css/calendar.css">

    <!-- Datetimepicker core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}external/datetimepicker/css/bootstrap-datetimepicker.css">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}create_step2.css">
{% endblock %}
{% block main_content %}

      <div class="row">
        <div class="col-sm-3">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">出发日期</label>
              <div class="col-sm-9">
                <p class="form-control-static">{{ main_plan.leaving_date.date }}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-sm-3 control-label">目的地</label>
              <div class="col-sm-9">
                  {% for d in main_plan.destination_city.all %}
                <p class="form-control-static">{{ d }}</p>
                  {% endfor %}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">返回日期</label>
              <div class="col-sm-9">
                <p class="form-control-static">{{ main_plan.return_date.date }}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">创建人</label>
              <div class="col-sm-9">
                <p class="form-control-static">{{ main_plan.creator }}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">参与者</label>
              <div class="col-sm-9">
                  {% for pa in main_plan.participants.all %}
                <p class="form-control-static">{{ pa }}</p>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="page-header">
            <div class="pull-right form-inline">
              <button class="btn btn-danger" data-calendar-act="add  ">Add</button>
              <div class="btn-group">
                <button class="btn btn-primary" data-calendar-nav="prev"><< Prev</button>
                <button class="btn btn-default" data-calendar-nav="today">Today</button>
                <button class="btn btn-primary" data-calendar-nav="next">Next >></button>
              </div>
              <div class="btn-group">
                <button class="btn btn-warning" data-calendar-view="year">Year</button>
                <button class="btn btn-warning active" data-calendar-view="month">Month</button>
                <button class="btn btn-warning" data-calendar-view="week">Week</button>
                <button class="btn btn-warning" data-calendar-view="day">Day</button>
              </div>
            </div>

            <h3></h3>
            <small>To see example with events navigate to march 2013</small>
          </div>

          <div id="calendar"></div>
        </div>
      </div>

      <div class="modal fade" id="events-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Event</h4>
            </div>
            <div class="modal-body" style="height: 400px">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade" id="add-events-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">添加日程</h4>
            </div>
            <div class="modal-body" style="height: 400px">
              <form action="events/" method="POST" id="add-events-form" class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="event-title" class="col-sm-3 control-label">标题</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="event-title" name="title" placeholder="标题" form="add-events-form" required>
                  </div>
                </div><!-- /event-title -->
                <div class="form-group" id="plan-return-date">
                  <label for="event-start" class="col-sm-3 control-label">开始时间</label>
                  <div class="col-sm-7">
                    <div class="input-group date form_datetime" data-date="" data-date-format="yyyy MM dd - HH:ii" data-link-field="event-start">
                      <input class="form-control" size="16" type="text" value="" readonly>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="event-start" name="start" value="" form="add-events-form" required>
                  </div>
                </div><!-- /event-start -->
                <div class="form-group" id="plan-return-date">
                  <label for="event-end" class="col-sm-3 control-label">结束时间</label>
                  <div class="col-sm-7">
                    <div class="input-group date form_datetime" data-date="" data-date-format="yyyy MM dd - HH:ii" data-link-field="event-end">
                      <input class="form-control" size="16" type="text" value="" readonly>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="event-end" name="end" value="" form="add-events-form" required>
                  </div>
                </div><!-- /event-end -->
                <div class="form-group">
                  <label for="event-description" class="col-sm-3 control-label">日程详情</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="event-description" name="description" placeholder="日程详情">
                  </div>
                </div><!-- /event-description -->
                <div class="form-group">
                  <label for="event-spend" class="col-sm-3 control-label">花销</label>
                  <div class="col-sm-7">
                    <input type="number" min="0" class="form-control" id="event-spend" name="spend" placeholder="花销">
                  </div>
                </div><!-- /event-spend -->
                <div class="form-group">
                  <label for="event-class" class="col-sm-3 control-label">类型</label>
                  <div class="col-sm-7">
                    <select class="form-control" id="event-class" name="class" placeholder="类型" required>
                      <option>------</option>
                      <option value="event-warning">吃饭</option>
                      <option value="event-success">游览景点</option>
                      <option value="event-info">睡觉</option>0
                      <option value="event-inverse">在路上</option>
                      <option value="event-special">类型5</option>
                      <option value="event-special">类型6</option>
                    </select>
                  </div>
                </div><!-- /event-class -->
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" form="add-events-form">添加</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
      </div>

  {% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}external/datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}external/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

     <!-- Custom Javascript -->
    <script type="text/javascript" src="{{ STATIC_URL }}create_step2.js"></script>
    <!-- Bootstrap Calendar components Javascript -->
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-calendar/components/underscore/underscore.js"></script>



    <!-- Bootstrap Calendar core Javascript -->
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-calendar/components/jstimezonedetect/jstz.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-calendar/js/language/zh-CN.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-calendar/js/calendar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-calendar/js/app.js"></script>




{% endblock %}


