{% extends "base.html" %} 
{% load i18n %} 

{% block title %}发送站内信 | Co-Trip{% endblock %}
{% block main_content %}

<h1>{% trans "Compose Message"%}</h1>
<form action="" method="post">
{% csrf_token %} 
<table>
{{ form.as_table }}
</table>
<input type="submit" value="{% trans "Send" %} &raquo;"/>
</form>

{% endblock %}